<!-- <header> -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper green">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
        </ul>
      </div>
    </nav>
  </div>
<!-- </header> -->
<!-- background pic and brussel brand title, mission statement -->
<div class="brussel-brand">
  <div class="overlay"></div>
  <%= image_tag "/assets/paprika-small.jpg", class: "veggies" %>
</div>
<div class="section options">
  <div class="row center">
    <div class="col s4 green-text">
      <h3>Our Mission</h3>
    </div>
    <div class="col s4 green-text">
      <h3>Plans & Pricing</h3>
    </div>
    <div class="col s4 green-text">
      <h3>This Week's Meals</h3>
    </div>
  </div>
</div>
