<div class="container text-center signup">
  <!-- <h1>Brussel Brand</h1> -->
  <h1>
    <b>Brussel Brand</b><br>
    Sign up for delicious vegan meals!
  </h1>

  <%= render 'form', customer: @customer %>

  <%#= link_to 'Back', customers_path %>

</div>
