<!DOCTYPE html>
<html>
  <head>
    <title>BrusBrandApp</title>

    <%= csrf_meta_tags %>

    <!-- css -->


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- javascript -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div id="main-container" class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
